In-class Exercise: Using the diamonds dataset, test the hypothesis that the average price of all carat categories
are the same.

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [11]:
diamonds=pd.read_excel("diamonds_new.xlsx")

print(diamonds.head())

   price  carat      cut color clarity  depth  table     x     y     z
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

In [13]:
x = diamonds['x']
y = diamonds['y']

t_stat, p_value = stats.ttest_ind(x,y,equal_var = False)
#print results
print("T-statistic:", t_stat)
print("P-value:", p_value)
print(np.mean(x), np.mean(y))


if p_value < 0.05:
  print(" We can reject the null hypothesis")
else:
  print("We can accept the null hypothesis")

T-statistic: -0.4882011056793893
P-value: 0.6254083944241411
5.731337351632047 5.7347032640949545
We can accept the null hypothesis

i. Null Hypothesis: μ = M
ii. Alternative Hypothesis: μ ≠ M

Interpretation of the results:

The p-value is greater than 0.05(signifance level) and the mean of x is not equal to the mean of y
We reject the null hypothesis