In [2]:
import pandas as pd

In [3]:
import numpy as numpy

In [4]:
pd.read_excel("Vegetable_Sales.xlsx")

,Item Code,Item Name,Loss Rate (%),Wholesale Price ($/kg),Quantity Sold (kg),Unit Selling Price ($/kg),Sale or Return,Discount (Yes/No)
0,102900000000000,Niushou Shengcai,4.39,3.88,0.396,7.6,sale,No
1,102900000000000,Sichuan Red Cedar,10.46,6.72,0.849,3.2,sale,No
2,102900000000000,Xixia Black Mushroom (1),10.80,3.19,0.409,7.6,sale,No
3,102900000000000,Local Xiaomao Cabbage,0.18,9.24,0.421,10.0,sale,No
4,102900000000000,White Caitai,8.78,7.03,0.539,8.0,sale,No
...,...,...,...,...,...,...,...,...
246,106972000000000,Haixian Mushroom (Bag) (3),1.30,4.32,0.401,8.0,sale,No
247,106972000000000,Xianzongye (Bag) (2),0.00,9.42,0.264,7.6,sale,No
248,106973000000000,Xianzongye (Bag) (3),9.43,4.44,0.363,8.0,sale,No
249,106973000000000,Chinese Caterpillar Fungus Flowers (Box) (2),11.13,5.44,0.313,8.0,sale,No
250,106974000000000,Hfyg Haixian Mushroom (Bunch),0.12,6.60,0.451,16.0,sale,No

In [ ]:
#Turn my imported dataset in to a python dataframe
vegetables = pd.read_excel("Vegetable_Sales.xlsx")

#View the imported dataframe
vegetables.head(5)

,Item Code,Item Name,Loss Rate (%),Wholesale Price ($/kg),Quantity Sold (kg),Unit Selling Price ($/kg),Sale or Return,Discount (Yes/No)
0,102900000000000,Niushou Shengcai,4.39,3.88,0.396,7.6,sale,No
1,102900000000000,Sichuan Red Cedar,10.46,6.72,0.849,3.2,sale,No
2,102900000000000,Xixia Black Mushroom (1),10.80,3.19,0.409,7.6,sale,No
3,102900000000000,Local Xiaomao Cabbage,0.18,9.24,0.421,10.0,sale,No
4,102900000000000,White Caitai,8.78,7.03,0.539,8.0,sale,No

In [ ]:
#Variables to For Variables and Observation

vegetables.describe()

,Item Code,Loss Rate (%),Wholesale Price ($/kg),Quantity Sold (kg),Unit Selling Price ($/kg)
count,2.510000e+02,251.000000,251.000000,251.000000,251.000000
mean,1.031908e+14,9.426693,6.277251,0.413518,9.635857
std,1.048439e+12,5.211027,3.515870,0.208310,5.200230
min,1.029000e+14,0.000000,1.460000,0.031000,3.200000
25%,1.029000e+14,8.225000,4.095000,0.256000,6.000000
50%,1.029000e+14,9.430000,5.610000,0.401000,8.000000
75%,1.029000e+14,11.130000,7.855000,0.502000,10.000000
max,1.069740e+14,29.250000,29.540000,1.321000,39.800000

In [ ]:
#View the Sample
vegetables["Item Code"].describe()

count    2.510000e+02
mean     1.031908e+14
std      1.048439e+12
min      1.029000e+14
25%      1.029000e+14
50%      1.029000e+14
75%      1.029000e+14
max      1.069740e+14
Name: Item Code, dtype: float64

In [11]:
#View the Observation
vegetables["Quantity"].describe()

KeyError: 'Quantity'